<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Dashboard Suite1" parallel="methods" thread-count="1">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="com.saf.testng.MTestListener" />
	</listeners>
	<suite-files>
               <suite-file path="TestngFolder\testng_dashboard.xml"></suite-file>   

	</suite-files>
</suite> 
